<!doctype html>
<html lang="{{ site.lang | default: " ru-RU" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"
        integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
</head>

<body>

    <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>

    <div id="banner">
        <div class="menu">
            <ul>
                <li><a href="/xivrus" class="button">Главная</a></li>
                <li>
                    <div class="dropdown">
                        <button class="button">Разметка ▼</button>
                        <div class="dropdown-content">
                            <a href="/xivrus/markdown/msq">Основной сюжет (MSQ)</a>
                            <a href="/xivrus/markdown/chronicles">Хроники новой эры</a>
                            <a href="/xivrus/markdown/sidequests">Побочные задания</a>
                            <a href="/xivrus/markdown/job-quests">Задания классов и профессий</a>
                            <a href="/xivrus/markdown/seasonal-events">Сезонные события</a>
                            <a href="/xivrus/markdown/actions-traits">Действия и навыки</a>
                            <a href="/xivrus/markdown/file-structure">Структура игровых файлов</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="button">Инструкции ▼</button>
                        <div class="dropdown-content">
                            <a href="/xivrus/guide/install">Установка перевода</a>
                            <a href="/xivrus/guide/uninstall">Удаление перевода</a>
                            <a href="/xivrus/guide/server">Пользование сервером перевода</a>
                            <a href="/xivrus/guide/translate-quests">Перевод заданий</a>
                            <a href="/xivrus/guide/editor-guidelines">Указания редакторам</a>
                            <a href="/xivrus/guide/translate-ui">Перевод интерфейса</a>
                            <a href="/xivrus/guide/tags-vars">Теги и переменные</a>
                            <a href="/xivrus/guide/conversion">Конвертация файлов</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="button">Инструменты ▼</button>
                        <div class="dropdown-content">
                            <a href="/xivrus/tools/exd-csv">Скрипты конвертации файлов</a>
                            <a href="/xivrus/tools/dump">Извлечение игровых файлов</a>
                        </div>
                    </div>
                </li>
                <li><a href="/xivrus/changelog" class="button">История изменений</a></li>
                <li><a href="/xivrus/faq" class="button">FAQ</a></li>
            </ul>
        </div>

        {% if site.show_downloads %}
        <div class="downloads">
            <span>Скачать:</span>
            <ul>
                <li><a href="{{ site.github.rus_url }}" class="button">RUS</a></li>
                <li><a href="{{ site.github.ruen_url }}" class="button">RUEN</a></li>
            </ul>
        </div>
        {% endif %}

        <span id="logo"></span>
    </div><!-- end banner -->

    <div class="wrapper">
        <nav>
            <ul></ul>
        </nav>
        <section>
            {{ content }}

        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a
                        href="https://twitter.com/mattgraham">mattgraham</a></small></p>
        </footer>
    </div>
</body>

</html>